body {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	color: #585858;
}

.weather-app {
	margin-top: 4.5rem;
	min-height: 465px;
}

.weatherIcon {
	font-size: 2.5rem;
}

#temperature {
	font-size: 50px;
}
#feelsLike,
#weatherDescription,
#location {
	font-size: 17px;
}

.weatherIcon,
#weatherDescription,
#location,
#temperature {
	color: #000;
}
#error-body {
	background: #1c2833;
	color: #fff;
}

#page-not-found {
	margin-top: 6rem;
	min-height: 400px;
}

#error-code {
	font-family: "Roboto Mono", monospace;
	font-size: 100px;
	color: #f5b041;
}

#page-not-found p {
	font-size: 40px;
}

.heart {
	color: #ac2121;
}
footer {
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px ridge;
}

.footer-text {
	font-size: 20px;
}
